.mini_thumb{
    position: absolute;
    width: 200px;
    bottom: 580px;
    border: 1px solid white;
}
.section_comics{
    border-top: 100px solid #0282f9;
}
.ms_info{
    background-color: green;
    padding: 10px;
    color: #ffff;
}