div.main {
    background-color: #1c1c1c;
}

.container {
    width: 79.375rem;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 1.875rem 0 2.5rem 0;

    & h2 {
        color: #ffffff;
    }
}

.jumbotron {
    height: 25rem;
    background-image: url(../img/jumbotron.jpg);
}
section {
    color: blue;
    position: relative;
}
.box {


    .ms_card {
        flex-basis: calc(100% / 6);
        margin-bottom: 50px;
        height: 150px;
        object-fit: cover;
        &:hover{
            cursor: pointer;
            filter: brightness(40%);
        }
    }
}
.thumb{
    width: 90%;
    height: 180px;
    object-fit: cover;
    &:hover{
        cursor: pointer;
        filter: brightness(40%);
    }
}
h2 {
    position: absolute;
    top: -5.9375rem;
    left: 0;
    padding: 10px;
}
.text {
    background-color:#0282f9;
}

button {
    color: #ffffff;
    border: none;
    // font-family: $font;
    padding: 10px 40px 10px 40px;
    font-weight: 700;
    display: flex;
    margin: auto;
    &:hover{
        background-color: darken(#0282f9, 20%);
        cursor: pointer;
    }
}
.title_comics{
    color: #ffffff;
}